/* Small Screen */
.container {
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .form_right {
    margin-bottom: 1rem;
  }
  
  .form__image {
    margin-left: 10rem;
    max-width: 50%;
    height: auto;
    border-radius: 25px;
  }
  
  /* Medium Screen */
  @media (min-width: 768px) {
    /*
     * Nothing TODO Here.
     * We dont change style form. 
     */
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .container {
      max-width: 1200px;
      margin: 7rem auto;
    }
  
    .form {
      margin: 0 1rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  
    .form__right {
      flex-basis: 60%;
    }
  
    .form__left {
      flex-basis: 60%;
    }
  }