/* Small Screen */
.container {
    margin: 1rem;
    font-family: 'Poppins', sans-serif
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .hero__left {
    margin-bottom: 1rem;
  }
  
  .hero__title {
    color: rgb(25, 3, 104);
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  
  .hero__genre {
    color: rgb(49, 21, 151);
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .hero__description {
    color: #64748b;
    margin-bottom: 0.5rem;
  }
  
  .hero__button {
    padding: 0.8rem 4rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(49, 21, 151);
    color: #fff;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .hero__image {
    margin-left: 2rem;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }
  
  /* Medium Screen */
  @media (min-width: 768px) {
    /*
     * Nothing TODO Here.
     * We dont change style Hero. 
     */
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .container {
      max-width: 1200px;
      margin: 3rem 4rem;
    }
  
    .hero {
      margin: 0 1rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  
    .hero__left {
      flex-basis: 80%;
    }
  
    .hero__right {
      flex-basis: 40%;
    }
  }