
.movie {
    margin-bottom: 0rem;
  }
  
.movie__image {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  
.movie__title {
    color: rgb(25, 3, 104);
    font-size: 1.3rem;
    margin-bottom: 0rem;
  }

.movie__genre{
    color: #64748b;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.movie__date {
    color: #64748b;
  }

  /* Medium Screen */
  @media (min-width: 768px) {
    .movie {
      flex-basis: 50%;
    }
  }

    /* Large Screen */
    @media (min-width: 992px) {     
        .movie {
          flex-basis: 20%;
          padding: 1rem;
        }
      }